body {
    background-color: #000000;
    margin: 0;
}
canvas {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 10px;
    left: 0;
}

.actions button {
    outline: none;
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    transition: transform 200ms;
}
.actions button:active {
    transform: scale(0.7)
}